<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>Get Instagram Post image url and much more.</title>
</head>

<body>
  <div class="container">
    <div class="title">Instalink server</div>
    <div class="subtitle">Try entering an Instagram post URL.</div>
    <form class="" action="" method="get">
      <input type="text" name="post_url" value="" placeholder="Enter IG post URL">
      <input type="submit" name="form_submit" value="Get Info">
    </form>
  </div>
</body>

</html>
